<div >
    <template>
        <v-card>
            <v-container fluid>
                    <v-toolbar flat color="primary" dark>
                        <v-toolbar-title>Failed workflows</v-toolbar-title>
                    </v-toolbar>
                    <v-card-title>
                        <v-spacer></v-spacer>
                        <select class="mr-3 form-control v-text-field" v-model="searchBy" style="width:20%;-webkit-appearance: auto !important;margin-top:15px;">
                            <option value="all">All</option>
                            <option value="title">Title</option>
                            <option value="abstract">Summary</option>
                            <option value="realm">Realm</option>
                            <option value="schema">Schema</option>
                        </select>
                        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
                    </v-card-title>

                    <v-data-table :headers="failedRecords.headers" :items="failedRecords.workflows" :single-expand="false" :expanded.sync="failedRecords.expanded" 
                    item-key="_id" show-expand class="elevation-4" :loading="failedRecords.loading" loading-text="Loading... Please wait"
                    :server-items-length="failedRecords.total" :options.sync="failedRecords.options" >     
                        <v-progress-linear v-slot:progress color="blue" indeterminate></v-progress-linear>
                        <template v-slot:item.history="{ item }">
                            <a target="_blank" :href="'clearing-house/records/history/'+item.data.identifier">History</a>
                        </template>
                        <template v-slot:item.failedExecution.failDate="{ item }">
                            {{item.failedExecution.failDate  | formatDate('format','DD MMM YYYY HH:mm')}}
                        </template>
                        <template v-slot:item.failureProcessed="{ item }">
                            <div v-if="item.failureProcessed">
                                Failure Processed on {{item.failureProcessed.processedOn  | formatDate('format','DD MMM YYYY HH:mm')}}<br/>
                                ({{item.failureProcessed.processedBy}}) :- {{item.failureProcessed.action}}
                            </div>
                        </template>
                        <template v-slot:expanded-item="{ headers, item }">
                            <td :colspan="headers.length" style="padding:10px;">
                                <div>
                                    <v-card flat tile>    
                                        <v-card-title>
                                            Workflow details
                                            <small>(<a target="_blank" :href="'clearing-house/records/history/'+item.data.identifier">History</a>)</small>
                                        </v-card-title>
                                            <v-row class="mb-12" no-gutters >
                                                <v-col md="6">
                                                    <div class="v-data-table v-data-table--fixed-height theme--light">
                                                        <div class="v-data-table__wrapper">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th colspan="4">Workflow</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th style="width:35px">Realm</th><td>{{item.data.realm}}</td>
                                                                        <th style="width:35px">Identifier</th>
                                                                        <td>
                                                                            <a target="_blank" :href="'https://api.cbd.int/api/v2013/documents/'+item.data.identifier">{{item.data.identifier}}</a> 
                                                                            ({{item.data.documentID}})
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Schema</th><td>{{item.data.metadata.schema}}</td>
                                                                        <th>Workflow Id</th><td>{{item._id}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Type</th><td>{{item.type.name}}</td>
                                                                        <th>Version</th><td>{{item.type.version}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Created</th>
                                                                        <td>{{item.createdOn}} 
                                                                            (<a :href="'https://accounts.cbd.int/admin/users/'+item.createdBy">{{item.createdBy}}</a>)
                                                                        </td>
                                                                        <th>Closed</th><td>{{item.closedOn}} ({{item.closedBy}})</td>
                                                                    </tr>
                                                                    <tr v-if="item.failedExecution.lockInfo">
                                                                        <th>Lock Id</th><td>
                                                                            {{item.failedExecution.lockInfo.lockID}} ({{item.failedExecution.lockInfo.lockedOn}})</td>
                                                                        <th>locked By</th>
                                                                        <td>
                                                                        {{item.failedExecution.lockInfo.lockedBy.firstName}} {{item.failedExecution.lockInfo.lockedBy.lastName  }}
                                                                        ({{item.failedExecution.lockInfo.lockedBy.email}})</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </v-col>
                                                <v-col md="6"> 
                                                    <div class="v-data-table v-data-table--fixed-height theme--light">
                                                        <div class="v-data-table__wrapper">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th colspan="3">Workflow Activities</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>                                                    
                                                                        <th style="width:35px">Created on</th>           
                                                                        <th style="width:35px">Closed on</th>           
                                                                        <th style="width:35px">Canceled on</th>
                                                                    </tr>
                                                                    <tr v-for="activity in item.activities">
                                                                        <td> {{activity.createdOn}} (<a :href="'https://accounts.cbd.int/admin/users/'+activity.createdBy">{{activity.createdBy}}</a>)</td>
                                                                        <td> {{activity.closedOn}} ({{activity.closedBy}})</td>
                                                                        <td> {{activity.canceledOn}} ({{activity.canceledBy}})</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </v-col>
                                            </v-row>
                                            <div class="v-data-table v-data-table--fixed-height theme--light">
                                                <div class="v-data-table__wrapper">

                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <th colspan="6">Failiure details (AWS SWF)</th>
                                                        </tr>
                                                        <tr>                                                    
                                                            <th style="width:35px">event Id</th>           
                                                            <th style="width:35px">Timestamp</th>           
                                                            <th style="width:35px">Type</th>         
                                                            <th style="width:35px">Parent Id</th>           
                                                            <th style="width:35px">Details</th>           
                                                            <th style="width:35px">Reason</th>
                                                        </tr>
                                                        <tr v-for="event in item.failedExecution.events">
                                                            <td> {{event.eventId}}</td>
                                                            <td> {{event.eventTimestamp}}</td>
                                                            <td> {{event.eventType}}</td>
                                                            <td> {{event.workflowExecutionFailedEventAttributes.decisionTaskCompletedEventId}}</td>
                                                            <td> {{event.workflowExecutionFailedEventAttributes.details}}</td>
                                                            <td> {{event.workflowExecutionFailedEventAttributes.reason}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="v-data-table v-data-table--fixed-height theme--light"  v-if="item.validationErrors">
                                                <div class="v-data-table__wrapper">
                                                    <table class="table table-bordered">
                                                        <tr style="background-color: #dd4b39;">
                                                            <td colspan="2">The draft record has validation Errors, please modify the record on the owner clearing-house</td>
                                                        </tr>
                                                        <tr v-for="error in item.validationErrors">
                                                            <td>{{error.code}}</td>
                                                            <td>{{error.property}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        <v-card-actions  v-if="!item.failureProcessed">
                                            <v-btn color="primary" :disabled="failedRecords.updatingAction" :loading="failedRecords.updatingAction" @click="showProcessWorkflow(item)">No Action required</v-btn> &nbsp;
                                            <v-btn color="warning" :disabled="failedRecords.updatingAction" :loading="failedRecords.updatingAction" @click="">Delete record lock</v-btn> &nbsp;
                                            <v-btn color="danger"  :disabled="failedRecords.updatingAction" :loading="failedRecords.updatingAction" @click="confirm(item)">Start new workflow</v-btn> &nbsp;                                    
                                        </v-card-actions>
                                    </v-card>
                                </div>
                            </td>
                        </template>
                    </v-data-table>

                    <v-dialog v-model="processWorkflowModel.show" max-width="500px">
                        <v-card>
                            <v-card-title>
                                Set workflow to processed
                            </v-card-title>
                            <hr />
                            <v-card-text>
                                <v-col cols="12">
                                    <v-textarea v-model="processWorkflowModel.action" label="Action taken" auto-grow outlined rows="1" row-height="15"></v-textarea>
                                </v-col>
                            </v-card-text>
                            <hr />
                            <v-card-actions>
                                <v-btn :disabled="failedRecords.updatingAction" :loading="failedRecords.updatingAction" color="primary" @click="setFailedWorkflowToProcessed(processWorkflowModel.workflow)">Save</v-btn> &nbsp;
                                <v-btn :disabled="failedRecords.updatingAction" :loading="failedRecords.updatingAction" color="default" @click="processWorkflowModel.show=false">Close</v-btn> &nbsp;
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="confirmModal.show" persistent max-width="350">
                        <v-card>
                            <v-card-title class="headline">Are you sure you wan to proceed?</v-card-title>
                            <!-- <v-card-text>Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.</v-card-text> -->
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn  color="primary" :loading="failedRecords.updatingAction" :disabled="failedRecords.updatingAction" @click="startNewWorkflow(confirmModal.workflow)">Yes</v-btn>
                                <v-btn  color="primary" :disabled="failedRecords.updatingAction" @click="confirmModal.show = false">No</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-snackbar v-model="toastMessage.show" right top :color="toastMessage.color" :timeout="toastMessage.timeout">
                        {{ toastMessage.text }}
                        <v-btn color="primary" text @click="toastMessage.show = false">
                            Close
                        </v-btn>
                    </v-snackbar>
            </v-container>
        </v-card>
    </template>
    <!-- <div id="counter-component">
            <button v-on:click="decrement" type="button">-</button> 
        <input type="number" v-model="angularVueValue" v-on:input="countUpdated" />
        <button v-on:click="increment" type="button">+</button>
    </div> -->

</div> 
