<div>
    <link rel="stylesheet" href="app/css/article-cover-image.css"/>
    <style type="text/css">
        .button {
            -moz-appearance: button;
            -webkit-appearance: button;
            padding: 10px;
            margin: 10px;
            width: 70px;
        }

        .drop-box {
            background: #F8F8F8;
            border: 5px dashed #DDD;
            width: 100%;
            height: 135px;
            text-align: center;
            padding-top: 25px;
            margin-left: -15px
        }

        .dragover {
            border: 5px dashed blue;
        }

        .percents-bg {
            position: absolute;
            top: 0;
            height: 100%;
            width: 0%;
            display: block;
            background-color: rgba(206, 209, 224, .2);
            z-index: 0;
            transition: width .2s ease-in;
        }

        .preview {
            /* height: 75px; */
            display: block;
            width: 100%;
            margin-bottom: 15px;
            overflow: hidden;
            z-index: 1;
            position: relative;
        }
        .error{
            color: red;
            font-size: small;
            font-weight: 100;
        }
    </style>
    <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css"> -->
    <section class="content">
        <div class="row">


            <div class="col-md-12">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">New Article</h3>
                    </div>
                    <div class="box-body">
                        <div class="alert alert-danger alert-dismissible" ng-if="showTranslationAlert">                            
                            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                            Changing the English version will clear the translation and will have to go through the translation workflow to get the latest translation online.
                        </div>
                        <div class="alert alert-danger alert-dismissible" ng-if="errors">                            
                            <h4><i class="icon fa fa-ban"></i> Errors!</h4>
                            <table class="table">
                                <tr ng-repeat="error in errors.errors">
                                    <td>{{error.code}}</td>
                                    <td>{{error.message}}</td>
                                    <td>{{error.params.join(', ')}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="blockRegion" ng-if="loading">
                            <div class="inverted dimmer active">
                                <div class="center">
                                    <div class="medium loader"><i class="fa fa-spin fa-cog" /> {{loadingText||'loading'}}...</div>					
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Title</label>
                                    <km-textbox-ml class="my-colorpicker1 colorpicker-element" ng-model="document.title"
                                    placeholder="Title of the article" locales="locales" ng-change="showTranslationMessage()"></km-textbox-ml>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Summary</label>
                                    <km-textbox-ml  class="my-colorpicker1 colorpicker-element" locales="['en']" ng-model="document.summary">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label> Tags</label>
                                    <ui-select multiple ng-model="article.tags" theme="bootstrap" ng-disabled="disabled">
                                        <ui-select-match placeholder="tags..." close-on-select="false">
                                            <span ng-if="$item.title">{{($item.title)|lstring}}</span>
                                            <span ng-if="!$item.title && $item._id">{{$item|tagTerm:'article-tags'}}</span>
                                        </ui-select-match>
                                        <ui-select-choices refresh="asyncTags($select.search)" refresh-delay="500" repeat="tag in articleTags track by $index">
                                            <!-- <div ng-bind-html="tag.title|lstring |unsafe | highlight: $select.search"></div> -->
                                            {{tag.title|lstring}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Custom Tags</label>
                                    <ui-select multiple tagging="tagCustomTransform" tagging-label="(Custom 'new' tag)" ng-model="article.customTags" theme="bootstrap"
                                        ng-disabled="disabled" close-on-select="true">
                                        <ui-select-match placeholder="Custom tags...">
                                            <span>{{getTerm($item)}}</span>
                                        </ui-select-match>
                                        <ui-select-choices refresh="asyncCustomTags($select.search)" refresh-delay="500" repeat="tag in articleCustomTags track by $index">
                                            <div ng-if="tag.isTag"  ng-bind-html="(tag.title|lstring) +' (Custom \'new\' tag)'"></div>
                                            <div ng-if="!tag.isTag" ng-bind-html="tag.title|lstring | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Admin Tags</label>
                                    <div class="help">Please use lowercase tags and "<b>-</b>" instead of space for eg. abs-procedure. The server will automatically convert space to "<b>-</b>" and uppercase to lowercase.</div>
                                    <ui-select multiple tagging="tagAdminTransform" tagging-label="(Custom 'new' tag)" ng-model="article.adminTags" theme="bootstrap"
                                        ng-disabled="disabled" close-on-select="true">
                                        <ui-select-match placeholder="Admin tags...">
                                            <span>{{$item.title}}</span>
                                        </ui-select-match>
                                        <ui-select-choices refresh="asyncAdminTags($select.search)" refresh-delay="500" repeat="tag in articleAdminTags track by $index">
                                            <div ng-if="tag.isTag"  ng-bind-html="(tag.title) +' (Custom \'new\' tag)'"></div>
                                            <div ng-if="!tag.isTag" ng-bind-html="tag.title | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <!-- <div class="box box-info">
                                    <div class="box-header">
                                        <h3 class="box-title">Cover Image</h3>
                                    </div>
                                    <div class="box-body"> -->
                                <div class="form-group">
                                    <label>Cover image</label>
                                    </br>
                                    <div class="col-md-9">
                                        <div ngf-drop ngf-select ng-model="coverImage" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                                            accept="image/*" ngf-pattern="'image/*'">
                                            <div class="percents-bg" ng-style="{width: coverImageProgress.value + '%'}" style=""></div>
                                            <div class="preview">
                                                <span class="fa fa-plus" style="border: 5px solid #eee;padding: 10px" ng-hide="coverImageProgress"></span>
                                                <span class="percents ng-binding ng-hide" ng-show="coverImageProgress">{{coverImageProgress.value}}%</span>
                                            </div>
                                            <span>Drop file here or click to upload</span>
                                        </div>
                                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                        <!-- <div class="progress progress-xxs" ng-if="coverImageProgress">
                                                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="{{coverImageProgress.value}}"
                                                         aria-valuemin="0" aria-valuemax="100" style="width: {{coverImageProgress.value}}%">
                                                            <span class="sr-only">{{coverImageProgress.value}}% Complete </span>
                                                        </div>
                                                    </div> -->
                                    </div>
                                    <div class="col-md-3">
                                         <div ng-if="document.coverImage.url">
                                            <button class="btn btn-primary btn-xs" ng-click="removeCoverImage()"><i class="fa fa-remove" /> Remove cover image</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6" ng-show="document.coverImage.url"><br/>
                                <div class="form-group">
                                    <label>Image position</label>
                                    <select class="form-control" ng-model="document.coverImage.position"
                                        ng-options="option.type as option.val for option in coverImagePositions" ng-disabled="!document.coverImage.url">
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-6" ng-show="document.coverImage.url"><br/>
                                <div class="form-group">
                                    <label>Image size</label>
                                    <select class="form-control" ng-model="document.coverImage.size"
                                        ng-options="option.type as option.val for option in coverImageSize" ng-disabled="!document.coverImage.url">
                                        </select>
                                </div>
                            </div>

                            <div class="col-md-12" ng-show="document.coverImage.url"><br/>
                                <div class="form-group">
                                    <label>Image credits</label>
                                    <input type="text" class="form-control" ng-model="document.coverImage.credits">
                                </div>
                            </div>

                            <div class="col-md-12" ng-if="document.coverImage.url">
                                <div class="alert alert-info">                            
                                    This is a sample representation of the Cover-Image
                                </div>                               
                                <div class="image-credit-wrapper"  ng-show="document.coverImage.url" >
                                    <span class="image-credit" ng-if="document.coverImage.credits">{{document.coverImage.credits}}</span>
                                    <div class="img cover-image cover-image-position-{{document.coverImage.position||'none'}} cover-image-size-{{document.coverImage.size||'none'}}"  
                                    style="background-image: url({{::cssEscape(coverImage_1200)}});"></div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissible" ng-if="showTranslationAlert">                            
                                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                    Changing the English version will clear the translation and will have to go through the translation workflow to get the latest translation online.
                                </div>
                                <div class="form-group">
                                    <label>Content</label>
                                    </br>
                                    <ck-editor locales="locales" on-init="onEditorInitialized()" ng-model="document.content"  ng-change="showTranslationMessage()"
                                    on-file-upload="onEditorFileUpload(data)"></ck-editor>
                                    <!-- <editor></editor> -->
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group1">
                                    <label>Extra data</label>
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>Type</td>
                                            <td>Name</td>
                                            <td>Value</td>
                                            <td></td>
                                        </tr>
                                        <tr ng-repeat="data in article.customProperties">
                                            <td style="max-width: 50px;">
                                                <select class="form-control" ng-model="data.type" ng-change="addCustomPropertiesRow()"
                                                ng-options="option.type as option.val for option in fieldTypes">
                                                </select>
                                                <label class="error" ng-if="data.typeMissing">Please select the field type</label>
                                            </td>
                                            <td style="max-width: 150px;">
                                                <input type="text" ng-model="data.field" class="form-control" aria-label="..."
                                                ng-change="addCustomPropertiesRow()">
                                                <label class="error" ng-if="data.fieldMissing">Please enter field name</label>
                                                <label class="error" ng-if="data.fieldNameInvalid">Please enter valid field name, it should begin with alphabet and can contain only alpha numeric</label>
                                            </td>
                                            <td>
                                                <input type="text" ng-model="data.value" class="form-control" aria-label="..."
                                                ng-change="addCustomPropertiesRow()">
                                                <label class="error" ng-if="data.valueMissing">Please enter field value</label>
                                            </td>
                                            <td>
                                                <button class="btn btn-default btn-xs" ng-if="article.customProperties.length>1 && !$last"
                                                    ng-click="removeRow(data)">
                                                    <i class="fa fa-remove"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="tags">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Tags</label>
                                    </hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span ng-repeat="tag in tags" ng-if="tag.name" style="margin:5px;">
                                                <span class="label label-success">
                                                    {{tag.name}}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                        <div class="row" ng-if="document.attachments">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Attachments</label>
                                    </hr>                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table">
                                                <tr ng-repeat="attachment in document.attachments" >
                                                    <td>
                                                        {{attachment.contentType}}
                                                    </td>
                                                    <td>
                                                        <a target="_blank" ng-href="{{attachment.url}}">{{attachment.filename||attachment.metadata.fileName}}</a>
                                                    </td>
                                                    <td>

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger alert-dismissible" ng-if="errors">                            
                            <h4><i class="icon fa fa-ban"></i> Errors!</h4>
                            <table class="table">
                                <tr ng-repeat="error in errors.errors">
                                    <td>{{error.code}}</td>
                                    <td>{{error.message}}</td>
                                    <td>{{error.params.join(', ')}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="submit()">Save</button>
                        <button type="submit" class="btn btn-primary" ng-click="submit(true)">Save and Close</button>
                        <button type="submit" class="btn btn-primary" ng-click="close()">Close</button>
                        <!-- <button type="submit" class="btn btn-primary" ng-click="getTags()">Get Tags</button> -->
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
