<div id="article-content">
    <link rel="stylesheet" href="app/libs/angular-ui-select/dist/select.css" />

    <section class="content">
        <div class="row">
            <style>
                .tilecaption {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    margin: 0 !important;
                    text-align: center;
                    color: white;
                    font-family: Segoe UI;
                    font-weight: lighter;
                }

                .white-panel {
                    position: absolute;
                    background: white;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
                    /* padding: 10px; */
                }

                /*
                    stylize any heading tags withing white-panel below
                */

                .white-panel h1 {
                    font-size: 1em;
                }

                .white-panel h1 a {
                    color: #A92733;
                }

                .white-panel:hover {
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
                    margin-top: -5px;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }

                .card {
                    background: white;
                    min-width: 100px;
                    min-height: 100px;
                    max-width: 400px;
                    margin: 8px;
                    -webkit-transition: .4s;
                    transition: .4s;
                    opacity: 0;
                    -webkit-transform: scale(0.75) translate3d(0, 200px, 0);
                    transform: scale(0.75) translate3d(0, 200px, 0);
                    border-radius: 2px;
                    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
                    overflow: hidden;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }

                .card.angular-grid-item {
                    opacity: 1;
                    -webkit-transform: scale(1) translate3d(0, 0, 0);
                    transform: scale(1) translate3d(0, 0, 0);
                }

                .card .img {
                    width: 100%;
                    height: 0;
                    padding-top: 75%;
                    background-size: cover;
                    background-color: #ccc;
                }

                .card .inside {
                    padding: 16px;
                    word-wrap: break-word;
                }

                .card .inside h3 {
                    margin-top: 0;
                    margin-bottom: 8px;
                }

                .card .inside a {
                    color: #E91E63;
                    text-decoration: none;
                }

                .card .inside a:hover {
                    text-decoration: underline;
                }

                .card .inside .description {
                    font-size: 14px;
                    line-height: 1.3;
                    color: #555;
                }

                .cards-wrap {
                    /* margin: 32px 64px; */
                    padding-bottom: 64px;
                    position: relative;
                }

                .loading-more-indicator {
                    text-align: center;
                }

                .loading-more-indicator md-progress-circular {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    display: inline-block;
                }

                .grid {
                    border: 1px solid #cccccc;
                    list-style: none;
                    background: #ffffff;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
                }

                .grid-img {
                    width: 100%;
                    vertical-align: middle;
                    -webkit-transition: opacity 0.6s ease-out;
                    transition: opacity 0.6s ease-out;
                    background-color: #fff;
                    opacity: 0;
                    visibility: hidden;
                }

                .grid-img.img-loaded {
                    visibility: visible;
                    opacity: 1;
                }
                .wrapper{
                    overflow-x:  visible!important;
                    overflow-y: visible!important;
                }
            </style>

            <div class="col-md-12">
                <div class="container" style="width:100%" id="articlesContainer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Search</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label> Title / Content</label>
                                                <input type="text" class="form-control" ng-model="search.titleContent">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label> Tags</label>
                                                <ui-select multiple tagging="tagTransform" tagging-label="(search tags)" ng-model="search.tags" theme="bootstrap" ng-disabled="disabled">
                                                    <ui-select-match placeholder="tags...">
                                                        <span>{{getTerm($item, 'article-custom-tags')}}</span>
                                                    </ui-select-match>
                                                    <ui-select-choices refresh="funcAsync('article-tags', $select.search)" refresh-delay="500" repeat="tag in articletags track by $index">
                                                        <!-- <div ng-bind-html="tag.title|lstring |unsafe | highlight: $select.search"></div> -->
                                                        {{tag.title|lstring}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Custom Tags</label>
                                                <ui-select multiple tagging="tagTransform" tagging-label="(search custom tags)" ng-model="search.customTags" theme="bootstrap"
                                                    ng-disabled="disabled">
                                                    <ui-select-match placeholder="custom tags...">
                                                        <span>{{getTerm($item, 'article-custom-tags')}}</span>
                                                    </ui-select-match>
                                                    <ui-select-choices refresh="funcAsync('article-custom-tags', $select.search)" refresh-delay="500" repeat="tag in articlecustomtags track by $index">
                                                        <div ng-if="person.isTag" ng-bind-html="(tag.title | highlight: $select.search) +' (new)'"></div>
                                                        <div ng-if="!person.isTag" ng-bind-html="tag.title|lstring| highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button class="btn btn-sm btn-primary pull-left" ng-click="searchArticles(search)">Search</button>
                                    <a href="articles/new" class="pull-right">
                                        <button class="btn btn-sm btn-primary">New Article</button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" id="contentScroller" >
                            <div class="box-footer ">
                                <span>Articles found: <strong>{{articlesCount}}</strong> </span>
                                <!-- - {{articles.length}} {{layout}}
                                    <ul class="pagination pagination-sm no-margin pull-right">
                                    <li>
                                        <a href="#" ng-click="changeLayout('grid')">
                                            <i class="fa fa-align-center" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="changeLayout('list')">
                                            <i class="fa fa-list-alt" />
                                        </a>
                                    </li>
                                </ul> -->
                            </div>
                            <br/>
                            
                            <div class="cards-wrap" angular-grid="articles" ag-grid-width="200"
                             ag-gutter-size="10" ag-id="gallery"  ag-infinite-scroll="updateScrollPage()"
                                ag-infinite-scroll-distance="100" id="articlesBody">

                                <article class="card white-panel" ng-repeat="article in articles" ng-if="layout=='grid'"
                                ng-click="showArticle(article)" style="cursor:pointer">
                                    <div ng-if="article.coverImage.url" class="img" style="background-image: url({{::getSizedImage(article.coverImage.url, '600x400')}});"></div>
                                    <div class="inside">                                        
                                        <h3>{{::article.title|lstring}}</h3>
                                        <div class="description" ng-bind-html="::article.content |lstring | limitTo:100|unsafe"></div>
                                    </div>
                                    <div ng-if="isAuthorizedForActions" style="border-top: 1px solid #eee">
                                        <div>&nbsp; updated on {{article.meta.modifiedOn|formatDate}}</div>
                                        <div class="btn-group pull-right">
                                            <a class="btn" href="#" ng-click="delete(article)">
                                                <i class="fa fa-remove" />
                                            </a>
                                            <a class="btn" href="articles/{{article._id}}/edit">
                                                <i class="fa fa-edit" />
                                            </a>
                                        </div>
                                    </div>
                                </article>
                                <!-- <article id="listBoot" ng-if="layout=='list'" style="width:100%">
                                    <div class="box "> -->
                                        <table class=" box table table-stripped" id="listBoot" ng-if="layout=='list'">
                                            <tr ng-repeat="article in articles">
                                                <!-- <td>{{$index+1}}</td> -->
                                                <td>
                                                    <img class="card-image" ng-if="article.coverImage" ng-src="{{::getSizedImage(article.coverImage.url, '50x50')}}" alt="image not available">
                                                </td>
                                                <td>
                                                    <a ng-click="showArticle(article)" href="#"> {{article.title|lstring}}</a>
                                                </td>
                                                <td>
                                                    <p ng-bind-html="article.content |lstring | limitTo:100|unsafe ">
                                                    </p>
                                                </td>
                                                <td ng-if="isAuthorizedForActions">
                                                    <div class="btn-group pull-right">
                                                        <a class="btn" href="#" ng-click="delete(article)">
                                                            <i class="fa fa-remove" />
                                                        </a>
                                                        <a class="btn" href="articles/{{article._id}}/edit">
                                                            <i class="fa fa-edit" />
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    <!-- </div>
                                </article> -->
                            </div>

                            <div ng-show='isLoading' class="loading-more-indicator">
                                <i class="fa fa-spin fa-spinner fa-3x" /> Loading data...</div>
                            <hr>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>
</div>
