<div>
    <link rel="stylesheet" href="app/dist/ckeditor5/style.css" />
    <style>
    </style>
    <style>
        .ck-editor__editable {
            border: none
        }

        .tags {
            margin-bottom: 20px;
        }

        .tags .label-default {
            margin-right: 5px;
            padding: 8px;
            font-size: 13px;
            font-weight: 400;
        }

        .article-content {
            font-size: 14px;
            color: #888;
            border-top: 1px solid #eee;
        }

        .article-title {
            text-align: center;
            margin: 0 0 10px;
            font-size: 20px;
            color: #000;
        }

        .image-credit-wrapper img {
            width: 100% !important;
        }

        .image-credit-wrapper {
            overflow: hidden;
            position: relative;
            max-height: 375px;
        }

        .image-credit-wrapper .image-credit {
            position: absolute;
            right: 0px;
            bottom: 4px;
        }

        .image-credit {
            background: rgba(0, 0, 0, .7);
            color: #ccc;
            display: inline-block;
            font-size: 11px;
            font-family: helvetica;
            font-weight: 300;
            padding: 5px 8px;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .chip {
            display: inline-block;
            padding: 5px;
            font-size: 12px;
            border-radius: 3px;
            background-color: #f1f1f1;
            margin: 2px;
        }

    </style>
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="box" style="border-top:none;margin-left: 15%;margin-right: 15%;width: 70%;">

                    <div class="box-body">

                        <div class="image-credit-wrapper">
                            <span class="image-credit" ng-if="article.coverImage.credits">{{article.coverImage.credits}}</span>
                            <img class="img-responsive" ng-src="{{::getSizedImage(article.coverImage.url,'1200x800')}}">
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <h2 class="article-title">
                            {{article.title|lstring}}
                        </h2>
                        <br/>
                        <br/>
                        <div id="editor" class="article-content1">
                            <div ng-bind-html="article.content.en|unsafe"></div>
                        </div>
                        <hr>
                        <div class="tags">
                            <span class="label label-default chip" ng-if="article.tags" ng-repeat="tag in article.tags"> {{tag|tagTerm:'article-tags'}}</span>
                            <span class="label label-default chip" ng-if="article.customTags" ng-repeat="tag in article.customTags">{{tag|tagTerm:'article-custom-tags'}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
