<div>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box1">
                    <div class="box-header with-border">
                        <h3 class="box-title">SCBD Translation</h3>
                    </div>
                    <div class="box-body1" id="editor">

                        <div class="row">


                            <div class="col-md-6">
                                <!-- Widget: user widget style 1 -->
                                <div class="box box-widget widget-user">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header bg-aqua-active">
                                        <h3 class="widget-user-username">Projects</h3>
                                        <!-- <h5 class="widget-user-desc">Founder &amp; CEO</h5> -->
                                    </div>
                                    <div class="widget-user-image">
                                        <img class="img-circle" src="https://avatars2.githubusercontent.com/u/4614187?v=4" alt="Repo Avatar">
                                    </div>
                                    <div class="box-footer">
                                        <div class="row">                                           
                                            <div class="col-sm-12 border-right" style="text-align:center">
                                               <a ng-href="{{baseUrl}}projects">Translate</a>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                </div>
                                <!-- /.widget-user -->
                            </div>
                            <div class="col-md-6">
                                <!-- Widget: user widget style 1 -->
                                <div class="box box-widget widget-user">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header bg-aqua-active">
                                        <h3 class="widget-user-username">Database Tables</h3>
                                        <!-- <h5 class="widget-user-desc">Founder &amp; CEO</h5> -->
                                    </div>
                                    <div class="widget-user-image">
                                        <img class="img-circle" src="https://avatars2.githubusercontent.com/u/4614187?v=4" alt="Repo Avatar">
                                    </div>
                                    <div class="box-footer">
                                        <div class="row">                                            
                                            <div class="col-sm-12 border-right"style="text-align:center">
                                               <a ng-href="{{baseUrl}}translation/database-tables">Translate</a>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                </div>
                                <!-- /.widget-user -->
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</div>
