<div>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box1">
                    <div class="box-header with-border">
                        <h3 class="box-title">SCBD Table</h3>
                    </div>
                    <div class="box-body1" id="editor">

                        <div class="row">


                            <div class="col-md-12">
                                <!-- Widget: user widget style 1 -->
                                <div class="box box-widget widget-user">
                                    <div class="widget-user-header bg-aqua-active">
                                        <h3 class="widget-user-username">{{translation.name}}</h3>
                                    </div>
                                    
                                </div>
                                <!-- /.widget-user -->
                            </div>

                        </div>

                        <div class="row">
                            
                            <div class="col-md-12">
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Search</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label> Title / Content</label>
                                                    <input type="text" class="form-control" ng-model="search.titleContent" ng-enter="searchArticles(search)">
                                                </div>
                                            </div>
                                            <div class="col-md-4" ng-if="translation.name=='Articles'">
                                                <div class="form-group">
                                                    <label> Tags</label>
                                                    <ui-select multiple ng-model="search.tags" theme="bootstrap" ng-disabled="disabled" close-on-select="false">
                                                        <ui-select-match placeholder="tags...">
                                                            <span>{{getTerm($item, 'article-tags')}}</span>
                                                        </ui-select-match>
                                                        <ui-select-choices refresh="funcAsync('article-tags', $select.search)" refresh-delay="500" repeat="tag in articletags track by $index">
                                                            {{tag.title|lstring}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-md-4" ng-if="translation.name=='Articles'">
                                                <div class="form-group">
                                                    <label>Custom Tags</label>
                                                    <ui-select multiple ng-model="search.customTags" theme="bootstrap" close-on-select="false"
                                                        ng-disabled="disabled">
                                                        <ui-select-match placeholder="custom tags...">
                                                            <span>{{getTerm($item, 'article-custom-tags')}}</span>
                                                        </ui-select-match>
                                                        <ui-select-choices refresh="funcAsync('article-custom-tags', $select.search)" refresh-delay="500" repeat="tag in articlecustomtags  track by $index">
                                                           <div ng-bind-html="tag.title|lstring| highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-md-4" ng-if="translation.name=='Articles'">
                                                <div class="form-group">
                                                    <label>Admin Tags</label>
                                                    <ui-select multiple ng-model="search.adminTags" theme="bootstrap" close-on-select="false"
                                                        ng-disabled="disabled">
                                                        <ui-select-match placeholder="admin tags...">
                                                            <span>{{$item.title}}</span>
                                                        </ui-select-match>
                                                        <ui-select-choices refresh="asyncAdminTags($select.search)" refresh-delay="500" repeat="tag in articleAdminTags | filter:{title:$select.search} track by $index">
                                                            <div ng-bind-html="tag.title| highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <button class="btn btn-sm btn-primary" ng-click="searchArticles(search)">Search</button>
                                        <button class="btn btn-sm btn-primary" ng-click="clearFilters(search)">Clear Filters</button>
                                         
                                        <div class="btn-group pull-right" ng-if="articlesToDownload.length > 0">

                                            <button type="button" class="btn btn-primary">
                                                <span class="badge bg-teal" ng-bind="articlesToDownload.length"></span> Selected for download
                                            </button>
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                              <span class="caret"></span>
                                            </button>
                                            <div class="dropdown-menu" role="menu" style="max-width: 500px;overflow: scroll;height: 500px;border: 1px solid #3d8dbc;">
                                                <ul style="list-style: none;padding-left:5px;">
                                                    <li ng-repeat="row in articlesToDownload" style="border-bottom: 1px solid #eee;">                                                   
                                                        {{$index+1}}.
                                                        <button type="checkbox" class="btn btn-danger btn-xs" ng-click="addToDownload(row, $event)" ng-model="row.translate">x</button>
                                                        <a target="_blank" ng-href="{{baseUrl}}articles/{{row._id}}" style="display: contents;">
                                                            <span ng-bind="row.title|lstring"></span>
                                                        </a>
                                                    </li> 
                                                </ul>
                                            </div>

                                            <button style="margin-left: 10px;" ng-if="!fetchingFiles" type="submit" class="btn btn-primary pull-right" ng-click="dowloadFiles()" ng-disabled="gettingSignedUrl">
                                                <i ng-if="gettingSignedUrl" class="fa fa-spin fa-spinner"></i>Download <span class="badge bg-teal" ng-bind="articlesToDownload.length"></span>
                                            </button>
                                            <button style="margin-left: 10px;" ng-if="!fetchingFiles" type="submit" class="btn btn-primary pull-right" ng-click="clearDownload()" ng-disabled="gettingSignedUrl">
                                                <i ng-if="gettingSignedUrl" class="fa fa-spin fa-spinner"></i>Clear All
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                           
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-body table-responsive no-padding ">
                                            <div class="text-center" ng-if="translation.rowCount>0" pagination current-page="translation.currentPage" 
                                                page-count="translation.pageCount" row-count="translation.rowCount" on-page-change="onPageChange(page)"></div> 
                                               
                                        <table class="table table-hover table-stripped table-bordered">
                                            <tr>
                                                <th rowspan="2" >
                                                    <!-- <input type="checkbox" ng-model="translation.selectAllFiles" ng-change="checkAll(translation.selectAllFiles)">  -->
                                                    <button class="btn btn-primary btn-xs" ng-click="checkAll(true)">select all</button>
                                                    <!-- <label>Select All</label> -->
                                                </th>
                                                <th rowspan="2" style="text-align:center">Title</th>
                                               <th ng-repeat="field in translation.fields" colspan="5" style="text-align:center">{{field}}</th>
                                            </tr>
                                            <tr>
                                                <th ng-repeat="lang in translation.languages track by $index" style="text-align:center">{{lang.language}}</th>
                                            </tr>
                                            <tr ng-if="fetchingFiles">
                                                <td colspan="3" style="padding-left:45%">
                                                    <i class="fa fa-spinner fa-spin"></i> Loading...
                                                </td>
                                            </tr>
                                            <tr ng-repeat="row in translation.rows" ng-if="!fetchingFiles">
                                                <td>
                                                    <input type="checkbox" class="" ng-click="addToDownload(row)" ng-model="row.translate">
                                                </td>
                                                <td> 
                                                    <a target="_blank" ng-href="{{baseUrl}}articles/{{row._id}}">
                                                        <span ng-bind="row.title|lstring"></span>
                                                    </a>
                                                </td>
                                                <td ng-repeat="lang in translation.languages track by $index" style="text-align:center">                                                        
                                                        <i class="fa fa-check" ng-if="row[lang.field][lang.language]"></i>                                                        
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>
